<button onclick="showToast('Test a simple test toast!!')">Toast Test</button>
<button onclick="showToast('Test a simple test toast!!', 'success')">Toast Good</button>
<button onclick="showToast('Test a simple error toast!!', 'error')">Toast Bad</button>
<button onclick="showToast('Test a long lasting simple test toast!!', 'default', 6000)">Toast Long</button>
<button onclick="showToast('Test a long lasting simple test toast!! This one has a crazy long text tho so I can make sure it doesn\'t get tooooooooo long.')">Toast Long Text</button>